nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}

nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

nav li p {
  font-size: 25px;
}

nav ul li h3 {
  font-weight: lighter;
  font-size: 14px;
  text-decoration: none;
  color: black;
}